[defaults]
# Use the inventory directory for host files
inventory = inventory/


# Path to roles
roles_path = roles/

# Disable host key checking (for simplicity in dev environments, use with caution)
host_key_checking = False

# Default user to connect with (ensure this user has necessary permissions on network devices)
remote_user = ansible

filter_plugins = filter_plugins/


# Optional: Improve stdout output for network devices
# stdout_callback = yaml # or json, or default