!# =================================================
!# Common Commands (for all Cisco IOS devices)
!# =================================================
show run | include hostname
show version
show inventory
show clock
show logging
show ip interface brief
show interfaces description
show processes cpu sorted
show memory summary
show ip arp
show cdp neighbors detail
show lldp neighbors detail
show running-config

{% if 'Cisco_routers' in group_names %}
!# =================================================
!# Router-Specific Commands
!# =================================================
!# =================================================
show ip route summary
show ip route
{% endif %}


{% if 'Cisco_switch' in group_names %}
!# =================================================
!# Switch-Specific Commands
!# =================================================
show vlan brief
show spanning-tree summary
show mac address-table count
show interfaces status
show power inline
show interfaces counters errors
{% endif %}


