#################################################################
# This system is managed by Ansible.
# Hostname: {{ ansible_hostname }}
# Environment: {{ inventory_file | basename }}
# Contact: {{ motd_contact_email }}
#################################################################